In [61]:
# Importing the required packages

import numpy as np
import pandas as pd

In [62]:
# Importing Dataset

df = pd.read_csv('customer.csv')

In [63]:
# Display 5 random records from the dataset

df.sample(5)

    age  gender   review education purchased
20   57  Female  Average    School       Yes
16   59    Male     Poor        UG       Yes
40   39    Male     Good    School        No
2    70  Female     Good        PG        No
26   53  Female     Poor        PG        No

In [64]:
# Because the other rows are nominal

df = df.iloc[:, 2:]

In [65]:
# Nominal Categorical Data + Label Encoding

df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [66]:
# Split the data into training and testing data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:, :2], df.iloc[:, -1], test_size=0.2)

In [67]:
X_train

     review education
28     Poor    School
14     Poor        PG
41     Good        PG
0   Average    School
5   Average    School
4   Average        UG
25     Good    School
47     Good        PG
13  Average    School
8   Average        UG
44  Average        UG
21  Average        PG
11     Good        UG
15     Poor        UG
24  Average        PG
31     Poor    School
26     Poor        PG
33     Good        PG
48     Good        UG
49     Good        UG
37  Average        PG
20  Average    School
27     Poor        PG
35     Poor    School
30  Average        UG
29  Average        UG
2      Good        PG
39     Poor        PG
3      Good        PG
18     Good    School
10     Good        UG
43     Poor        PG
6      Good    School
19     Poor        PG
23     Good    School
32  Average        UG
42     Good        PG
12     Poor    School
36     Good        UG
40     Good    School

In [39]:
from sklearn.preprocessing import OrdinalEncoder

In [40]:
oe = OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [41]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [42]:
X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

In [43]:
X_train

array([[2., 1.],
       [2., 1.],
       [0., 2.],
       [2., 1.],
       [0., 0.],
       [0., 1.],
       [2., 0.],
       [2., 0.],
       [0., 2.],
       [1., 2.],
       [1., 0.],
       [1., 1.],
       [2., 1.],
       [1., 1.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [2., 2.],
       [0., 2.],
       [0., 1.],
       [2., 0.],
       [1., 2.],
       [2., 2.],
       [1., 2.],
       [0., 0.],
       [0., 0.],
       [1., 1.],
       [2., 2.],
       [0., 2.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 1.],
       [1., 1.],
       [0., 2.],
       [0., 2.],
       [0., 0.],
       [2., 0.],
       [2., 0.]])

In [44]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

# Label Encoder

In [45]:
from sklearn.preprocessing import LabelEncoder

In [46]:
le = LabelEncoder()

In [47]:
le.fit(y_train)

LabelEncoder()

In [48]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [49]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [50]:
y_train

array([1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0])